/* Configurações gerais de estilo */
body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

/* Estilo dos cabeçalhos */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

.text-muted {
    color: #666 !important;
}

/* Estilo do logo */
.logo {
    max-height: 5vh; 
    width: auto; /* Mantém a proporção da largura */
    margin: 0 auto; 
    display: block; 
    cursor: pointer;
    position: relative;
    z-index: 1000;
}


.img {
    max-width: 100%;
}


/* Estilo dos Cards de Verificação */
.card {
    border-radius: 10px;
    border: none;
}

.verification-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 20px;
    width: 400px;
    margin-right: auto;
    margin-left: 20%;
}

/* Estilo das opções dentro dos Cards */
.card-option {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card-option:hover {
    background-color: #f0f0f0;
}

.card-option img {
    margin-right: 10px;
}

/* Estilo da estrutura principal */
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    flex-grow: 1;
    flex-wrap: wrap; 
}

.intro-text {
    max-width: 50%;
    margin-right: 30px;
}

.loading-animation {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #BF000E;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Tornando o layout responsivo para telas até 1366px */
@media (max-width: 1366px) {
    .logo {
        margin-left: 8.33%; 
    }

    .intro-text {
        max-width: 60%;
        text-align: center;
    }

    .verification-card {
        width: 35.3%; 
        margin-top: 20px;
    }

    .container-fluid {
        flex-direction: column;
        padding: 2.6%; 
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .logo {
        margin-left: 5%; 
    }

    .intro-text, .verification-card {
        max-width: 100%;
        text-align: center;
    }

    .verification-card {
        width: 90%; 
    }
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 20px;
    }

    .verification-card {
        width: 100%;
        text-align: center;
    }
}
