/* Logo Ifood */
.logo {
    width: 150px;
    display: block;
    margin: 0 auto 30px;
}

/* Barra Lateral */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

/* Status da Loja */
.status-box {
    display: flex;
    align-items: center;
    background-color: #e8f5e9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.status-circle {
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-right: 10px;
}

.status-text {
    display: flex;
    flex-direction: column;
}

.status-label {
    font-weight: bold;
    color: #4caf50;
}

.status-description {
    color: #777;
    font-size: 12px;
}

/* Menu */
.nav-link {
    color: #333;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #BF000E;
}

.menu-pai {
    font-size: 1.25rem;
    color: #BF000E;
    font-weight: bold;
    margin-bottom: 10px;
}

.submenu {
    padding-left: 15px;
    margin-top: 5px;
    list-style-type: none;
}

.submenu li {
    padding: 5px 0;
}

.submenu li a {
    font-weight: normal;
    color: #555;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.submenu li a:hover,
.submenu li a.active {
    color: #BF000E;
    background-color: #f5f5f5;
    font-weight: bold;
    border-left: 4px solid #BF000E;
    padding-left: 10px;
}

/* Estilo para o item ativo do menu */
.nav-item .dropdown-item.active, 
.nav-item .nav-link.active {
    background-color: #f5f5f5;
    color: #BF000E;
    font-weight: bold;
    border-left: 4px solid #BF000E;
}

/* Header & Seletor de períodos */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-container h1 {
    margin: 0;
}

.description h3 {
    color: #333;
    margin: 0;
}

.period-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.period-container label {
    font-weight: bold;
    margin-right: 10px;
}

.date-picker {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Conteúdo principal */
.main-content {
    margin-left: 270px;
    padding: 20px;
}

/* Cards Visão Geral*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 20px;
    padding: 5px;
    border-radius: 8px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
}
.card h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.card h4 {
    font-size: 1.4rem;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: gray;
}

/* Animação ao passar o mouse sobre os cards */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Tabelas */
.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.tab.active {
    background-color: #BF000E;
    color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody a {
    color: #BF000E;
    text-decoration: none;
}

.table tbody a:hover {
    text-decoration: underline;
}

/* Estilo para o botão (abas "A receber/Pagos") selecionado*/
.tab.active {
    background-color: #BF000E;
    color: #fff;
}

/* Estilo para os botões (abas "A receber/Pagos") que não estão selecionados */
.tab:not(.active):hover {
    background-color: #f5f5f5;
    color: #BF000E;
    cursor: pointer;
}


/* Janela Modal (Ver Detalhes) */
.modal-header {
    background-color: #BF000E;
    color: #fff;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #f9f9f9;
}

